{% extends "base.html" %}
{% load static %}
{% block title %}Pradeep{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'polls/style.css' %}">
{% endblock %}
{% block content %}

{% if object_list %}
<h1> Questions </h1>
    <ul>
    {% for question in object_list %}
       <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
        <h1>{{question.image}}</h1>
       <img src={{question.image.url}} alt="test"/>
    {% endfor %}

    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
{% endblock %}